* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  font-family: "Bebas Neue", cursive;
}
.header-container {
  width: 100%;
}
.header {
  background-color: rgb(21, 32, 92);
  /* background-size: 70%;
  background-position: center 40%;
  background-repeat: no-repeat;
  background-image: url(https://img.freepik.com/premium-vector/london-skyline-illustration-silhouette-vector_7888-441.jpg?w=1380); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 77%;
  max-width: 95rem;
  margin: auto;
}
.spurs-logo {
  height: 18vh;
  margin-top: 0.5rem;
}

.parent-container {
  width: 100%;
}
.content-container {
  max-width: 95rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.playerCard {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
  max-width: 30rem;
  width: 30rem;
  min-height: 50rem;
  margin: 5px;
  background-position: center;
  background-position: center -300%;
  background-repeat: no-repeat;
}

.img {
  margin-top: 10vh;
}

.infoDiv {
  display: flex;
  flex-direction: column;
}

.name,
.number,
.nationality,
.position {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: rgb(21, 32, 92);
}
.number {
  font-size: 4rem;
}

.button-container {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}
.delete-btn,
.put-btn {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: rgb(21, 32, 92);
  cursor: pointer;
}
.post-btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
  font-size: 3rem;
  margin-right: 4rem;
  cursor: pointer;
}
